html {
	box-sizing: border-box;
  font-family: "Dosis", sans-serif;
  line-height: 1.5rem;
}

.beetle-types {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.beetle-types li a {
display: inline-block;
margin: 0;
width: 100%;
padding: 0.5em;
background-color: #9a816d;
border: 1.5px solid #795437;
}

.beetle-types strong {
  display: block;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  font-weight: 700;
  font-size: 2rem;
  color: #572700;
}

*, *::before, *::after {
	box-sizing: inherit;
}
