html {
	box-sizing: border-box;
  font-family: "Dosis", sans-serif;
  line-height: 1.5rem;
}

.beetle-types {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.beetle-types li a {
display: inline-block;
margin: 0;
width: 100%;
padding: 1em;
background-color: #9a816d;
border: 1px solid #795437;
}

*, *::before, *::after {
	box-sizing: inherit;
}
